# Основные библиотеки
torch
transformers
pandas
scikit-learn
PyYAML
tqdm
joblib

# Для Задания 3 (Тесты и Линтеры)
pytest
ruff

# DVC + S3 (Yandex Object Storage)
dvc==3.66.1
dvc-s3==3.2.2

boto3<1.42.20
botocore<1.42.20
s3fs>=2024.12.0,<2026.0.0
aiobotocore<3.0.0
